.btn-1{
    background-color:blue;
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    align-items: bold;
    cursor: pointer;
    font-size: bold;
    transition: background-color 0.2s,color 0.2s;
}
.btn-2{
    background-color: white;
    color: blue;
    border: 2px solid blue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: bold;
    border-radius: 20px;
    align-items: bold;
    cursor: pointer;
    transition: background-color 0.2s,color 0.2s;
}
.btn-1:hover{
    background-color: white;
    color: blue;
    border:2px solid blue;
    box-shadow: 0 4px 4px 0 gray;
}
.btn-2:hover{
    background-color: blue;
    color: white;
    border:2px solid blue;
    box-shadow: 0 4px 4px 0 gray;
}